{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "require-jsdoc": "off",
    "linebreak-style": 0,
    "space-before-function-parentheses": 0,
    "space-before-function-paren": ["error", "always"],
    "indent": "off",
    "no-tabs": 0,
    "operator-linebreak": "off",
    "arrow-parens": "off",
    "max-len": "off"
  }
}
